/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Lato', sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
   Custom styles.
   Created by gyonka.
   ========================================================================== */

p {
    padding: 0;
    margin: 0;
}

header {
    display: block;
    height: 80px;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #435a6b;
}

header p {

}

nav {
    margin: 0 auto;
    text-align: center;
}

header p {
    display: inline-block;
}

header p a {
    display: inline-block;
}

.title_link {
    color: #435a6b;
    background: #ffffff;
    font: 400 18px/1 "lato";
    padding: 2px 2px 2px 2px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
    text-align: center;
    margin-top: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.title_link:hover {
    color: #ffffff;
    background: #435a6b;
}

#navigation a {
    position: relative;
    display: inline-block;
    outline: none;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 7px;
    font: 100 18px/1 "lato";
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1.35em;
}

nav a:hover,
nav a:focus {
    outline: none;
}

#contact {
    display: block;
    width: 350px;
    height: auto;
    margin: 0 auto;
}

/* Effect 1: Brackets */
.cl-effect-1 #navigation a::before,
.cl-effect-1 #navigation a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 #navigation a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 #navigation a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 #navigation a:hover::before,
.cl-effect-1 #navigation a:hover::after,
.cl-effect-1 #navigation a:focus::before,
.cl-effect-1 #navigation a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

main {
    display: block;
    width: 920px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#about_container {

}

#about_container p {

}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    display: table;
    height: 300px;
    position: absolute;
    width: 450px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#project_one:hover span.text-content {
    opacity: 1;
}

#project_two:hover span.text-content {
    opacity: 1;
}

#project_three:hover span.text-content {
    opacity: 1;
}

#project_four:hover span.text-content {
    opacity: 1;
}

#top_projects {
    display: block;
    width: auto;
    height: 300px;
    margin-top: 20px;
}

#project_one {
     display: table;
     width: 450px;
     height: 300px;
     float: left;
}

#project_two {
    display: table;
    width: 450px;
    height: 300px;
    float: right;
}

#bottom_projects {
    display: block;
    width: auto;
    height: 300px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#project_three {
    display: table;
    width: 450px;
    height: 300px;
    float: left;
}

#project_four {
    display: table;
    width: 450px;
    height: 300px;
    float: right;
}
.project1_background{
 display: block;
    height: 300px;
    width: 450px;
    background-image: url("../backgrounds/Speakeasy.png");
}
.project2_background{
 display: block;
    height: 300px;
    width: 450px;
    background-image: url("../backgrounds/Lawssons.png");
}
.project3_background{
 display: block;
    height: 300px;
    width: 450px;
    background-image: url("https://placeimg.com/450/300/any");
}
.project4_background{
 display: block;
    height: 300px;
    width: 450px;
    background-image: url("https://placeimg.com/450/300/any");
}

main span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

main h1 {
    color: #435a6b;
    font: 100 30px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    padding-top: 10px;
}

main h1 strong {
    font-weight: 400;
    color: #435a6b;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    margin-left: 0px;
    margin-top: 50px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-1 {
    border: 3px solid #0e83cd;
    color: #0e83cd;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
    color: #ffffff;
    background: #0e83cd;
}


.team_member_container {
    display: block;
    width: 700px;
    height: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.team_member_pic {
    display: block;
    width: 150px;
    height: 150px;
    background: #c0c0c0;
}

.team_member_pic img {
    max-height: 100%;
    max-width: 100%;
}

.team_member_bio {
    display: block;
    width: 400px;
    height: 150px;
}

.bio_text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bio_text span a {
    position: relative;
    display: inline-block;
    outline: none;
    margin: 0 auto;
    text-align: center;
    font: 400 24px/1 "lato";
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    color: #435a6b;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.bio_text span a:hover {
    color: #435a6b;
    background: #ffffff;
}

.bio_text p {
    font-size: 14px;
}

.right_align_team {
    float: right;
}

.left_align_team {
    float: left;
}